div.inline
{
    display: inline
}

body
{
    
    background-color: green;
    min-width: 1152px;
    min-height: 1152px;
    
}

#container
{
    float: start;
    position: center;
    align-content: center;
    align-items: center;
    
}

#login_form
{

    border-color: grey;

}

#psw_dimenticata_link
{
    
    color: white;
    font-size: 16px;
    text-decoration: underline;
    
}

#login_error
{
    font-size: 25px;
    color: red;
    text-align: center;
    padding: 10px;
}

#email_label
{
    
    padding-right: 45px;
    
}

#password_label
{
    
    padding-right: 20px;
    
}

#accedi_button
{
    
    padding-top: 20px;
    
}

#login_form.input_field
{
    padding: 30px;
}