#specifiche_mezzo_image
{
    float: right;
    padding: 20px;
}

.specifiche_mezzo
{
    float: left;
    padding: 20px;
}

#button_specifiche
{
    float: right;
}

.stato_class
{
    color: red;
    font-size: 25px;
    font-family: Serif;
}
