#element_id
{
    border: double;
    background: whitesmoke;
    float: left;
    width: 75%;
    height: 10%;
    font-family: Calibri;
}

.parcheggio_element
{
    float: left;
}

#button_visualizza_specifiche
{
    float: left;
}
