#element_id
{
    display: block;
}
#user_data_email
{
    border: double;
    background: whitesmoke;
    float: left;
    width: 100%;
    height: 10%;
    font-family: Calibri;
}

.utente_element
{
    float: left;
}

#cancella_utente_id
{
    float: left;
}
